<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Create User</title>
</head>
<body>
    <h1>Create New User</h1>
    <form action="{{ url_for('create_user') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required><br>

        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="kitchen">Kitchen</option>
            <option value="administration">Administration</option>
            <option value="courier">Courier</option>
            <option value="user">User</option>
        </select><br>

        <input type="submit" value="Create User">
    </form>
</body>
</html>
